<% content_for :body do %>
  <%=raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) unless params[:page] %>


  <% if @items.any? %>
    <%= render partial: 'news_list', locals: {items: @items} %>

    <%= will_paginate @items %>

  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<% content_for :side_body do -%>
  <%= raw @page.content_for(::Refinery::Pages.default_parts.second.to_sym) %>
<% end if ::Refinery::Pages.default_parts.many? -%>
<%= #render :partial => '/refinery/news/shared/body_content_right'
%>

<h1 class="h1"><%= t(".news") %></h1>
<div class="b-article">
  <%= yield :body %>
</div>



<%= #render :partial => "/refinery/content_page"
%>
